@import 'global.css';
body {
  background-image: url("../images//frontpage/background.svg");
}

.AboutUs__main__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.main__content {
  margin-top: 50px;
  width: 300px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: left;
  box-shadow: var(--default-shadow);
  border-radius: 8px;
}

.main__content__input__container {
  padding: 20px;
}

.main__content__header {
  padding: 20px;
  padding-bottom: 0px;
}

.content__container {
  padding: 20px;
}

.default_content_information {
  color: gray;
}