:root {
  --main-color: #1475e2;
  --main-color-darker: #0a4990;
  --secondary-color: #fc1683;
  --default-shadow: 0 3px 6px rgba(202, 207, 216, 0.3), 0 3px 6px rgba(72, 121, 212, 0.2);
  --default-shadow-hover: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  --main-color-shadow: 0 2px 4px var(--main-color);
  --default-margin: 10px;
  --grey-font: rgb(99, 114, 130);
  --default-padding: 20px;
  --gray-border: #DFDFDF;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #fcfcfc;
}

.default__input {
  background-color: white;
  color: var(--grey-font);
  border-radius: 4px;
  padding: 10px 10px 10px 10px;
  border: 1px var(--gray-border) solid;
  height: 30px;
  outline: none;
  font-size: 16px;
  flex: 1;
}

.default__input--minWidth {
  background-color: white;
  color: var(--grey-font);
  border-radius: 4px;
  padding: 10px 10px 10px 10px;
  border: 1px var(--gray-border) solid;
  height: 30px;
  outline: none;
  font-size: 16px;
  flex: 1;
  min-width: 0;
  width: 100%;
}

.default__input--fullWidth {
  width: 98%;
}

.default__input__header {
  font-weight: bold;
  font-size: 20px;
}

.default__input__container {
  flex: 1;
  padding: 20px;
}

.default__input__container--noPadding {
  flex: 1;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.default__container {
  background-color: white;
  box-shadow: var(--default-shadow);
  padding: 20px;
  margin: 20px;
}

.default__button {
  background-color: var(--main-color);
  border: none;
  color: white;
  cursor: pointer;
  padding: 20px 20px 20px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  outline: none;
  text-align: center;
}