@import 'main.css';

body {
  background-color: white;
}
.opinions__container {
  display: flex;
  flex-direction: column;
  padding: 0px 20px 20px 20px;
}
.opinions__entity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 30px 30px 10px;
  margin-bottom: 20px;
}
.opinions__top__container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.opinions__top__image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.opinions__top__text__container {
  display: flex;
  flex-direction: column;
  margin-left: var(--default-margin);
}
.opinions__top__text {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}
.opinions__bottom__text {
  margin-top: var(--default-margin);
  font-size: 15px;
  color: var(--grey-font);
}
