@import './main.css';

body {
  background-color: #fcfcfc;
}
.login__main__container {
  display: flex;
  background-color: #fcfcfc;
  justify-content: center;
  align-items: center;
}
.main__content {
  margin-top: 50px;
  width: 300px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: var(--default-shadow);
  border-radius: 8px;
}
.main__content__inputs {
  display: flex;
  flex-direction: column;
}

.main__content__login__button {
  background-color: var(--main-color);
  border: none;
  color: white;
  cursor: pointer;
  width: 100px;
  padding: 10px 30px 10px 30px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  font-size: 15px;
  box-shadow: var(--main-color-shadow);
  margin-bottom: 20px;
  outline: none;
}
