@import "global.css";
.personal__information__text {
  color: var(--grey-font);
  font-size: 14px;
}

/* CONTAINERS */

.content__container {
  display: flex;
  flex-wrap: wrap;
  margin: var(--default-margin);
}

.left__container {
  flex: 1;
  box-shadow: var(--default-shadow);
  margin-right: var(--default-margin);
  background-color: white;
}

.right__container {
  flex: 2;
  box-shadow: var(--default-shadow);
  background-color: white;
}

.header__container {
  box-shadow: var(--default-shadow);
  margin-bottom: var(--default-margin);
  padding: var(--default-padding);
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer__container {
  box-shadow: var(--default-shadow);
  margin-bottom: var(--default-margin);
  margin-left: 0px;
  margin-right: 0px;
  padding: var(--default-padding);
  display: flex;
  justify-content: center;
  background-color: white;
}

/* HEADER */

.header__logo {
  width: 154px;
  height: 42px;
}

.header__text {
  margin-left: 10px;
}

.header__logo__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.header__button__container {
  display: flex;
  flex-direction: row;
  height: 40px;
  justify-content: space-between;
  align-items: center;
}

.register__button {
  background-color: var(--main-color);
  color: white;
  cursor: pointer;
  padding: 15px 30px 15px 30px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.register__button:hover {
  background-color: var(--main-color-darker);
}

.login__logout__button {
  margin-left: 20px;
  margin-right: 15px;
  cursor: pointer;
  font-weight: bold;
}

.header__button {
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
  font-weight: bold;
}

/* PROFILE */

.profile__container {
  padding: var(--default-padding);
  display: flex;
  flex-direction: row;
  visibility: visible;
}

.profile__container__mobile {
  visibility: hidden;
  width: 0px;
  height: 0px;
}

.profile__text__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: var(--default-margin);
}

.profile__subheader {
  color: var(--grey-font);
}

.profile__img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: contain;
}

/* PERSONAL INFORMATION  */

.personal__information__container {
  display: flex;
  flex-direction: column;
  padding: var(--default-padding);
}

/* OPINIONS */

.opinions__container {
  padding: var(--default-padding);
  display: flex;
  flex-direction: column;
}

.opinions__selection {
  display: flex;
  padding: 10px 10px 10px 0px;
  cursor: pointer;
}

.opinions__img {
  width: 40px;
  height: 40px;
  object-fit: fill;
  border-radius: 20px;
}

.opinions__text__container {
  display: flex;
  flex-direction: column;
  margin-left: var(--default-margin);
}

.opinions__subheader {
  color: var(--grey-font);
  font-size: 14px;
}

/* PREFERENCES */

.preferences__container {
  padding: var(--default-padding);
}

.preferences__header__container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.preferences__selections__container {
  display: flex;
  padding: 10px 10px 10px 0px;
  flex-wrap: wrap;
}

.preferences__add__button {
  color: white;
  background-color: var(--secondary-color);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--default-shadow);
  cursor: pointer;
}

.preferences__selection {
  background-color: var(--main-color);
  border-radius: 20px;
  padding: 10px 15px 10px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 15px;
  margin: var(--default-margin);
  box-shadow: var(--default-shadow);
}

.preferences__selection__input {
  color: white;
  background-color: var(--main-color);
  border: none;
  outline: none;
  font-size: 14px;
  padding: 5px;
}

.preferences__selection__img {
  width: 10px;
  height: 10px;
  cursor: pointer;
}

/* FOOTER */

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__copyright {
  color: var(--grey-font);
  font-size: 12px;
}

.footer__link__container {
  display: flex;
  flex-direction: row;
}

.footer__link__inner__container {
  position: relative;
}

.footer__link {
  margin: 10px 10px 5px 10px;
  text-decoration: none;
  color: var(--grey-font);
  font-size: 15px;
}

.footer__link__seperator {
  width: 1px;
  height: 15px;
  position: absolute;
  right: 0px;
  top: 5px;
  background-color: gray;
}

.left__container__header {
  cursor: pointer;
}

/* OTHER CONTENT */

.content__container__frontpage {}

.content__container__register {
  display: none;
}

.content__container__login {
  display: none;
}

.content__container__register iframe {
  height: 1000px;
}

/* OTHER */

iframe {
  border: none;
  width: 100%;
  height: 760px;
}

#register {
  height: 1000px;
}

#login {
  height: 650px;
}

#personal_info {
  height: 900px;
}

#searchResults {
  height: 720px;
}

#detailView {
  height: 1800px;
}

#profile {
  height: 1500px;
}

a {
  text-decoration: none;
  color: black;
}

#main>iframe:not(:first-child) {
  display: none;
}

.navbar__image {
  display: none;
  width: 0px;
  height: 0px;
}

@media (max-width: 768px) {
  .header__container {
    flex-direction: column;
  }
  .opinions__selection, .preferences__selection, .preferences__add__button, .personal__information__text {
    display: none;
  }
  .content__container {
    flex-direction: column;
  }
  iframe {
    height: 1200px;
  }
  .right__container {
    margin-top: 10px;
  }
  .left__container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .profile__container {
    flex-basis: 100%;
    visibility: visible;
  }
  .profile__container__mobile {
    visibility: hidden;
  }
}

@media (max-width: 600px) {
  .left__container {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 10px;
  }
  .profile__container {
    visibility: hidden;
    height: 0px;
    padding: 0px;
  }
  .profile__container__mobile {
    padding: var(--default-padding);
    display: flex;
    flex-direction: row;
    visibility: visible;
    width: 100%;
    background-color: white;
    box-shadow: var(--default-shadow);
    height: auto;
  }
  iframe {
    height: 1300px;
  }
  .preferences__header__container, .personal__information__container, .personal__information__link, .opinions__container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .navbar__image {
    display: block;
    cursor: pointer;
    width: 30px;
    height: 30px;
  }
}